
.banner{
    width: 100%;
    height: 5%;
}
.img-banner{
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
    border-radius: 5%;
    
}
.title-center-banner{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color:antiquewhite;
    text-shadow: 3px 3px black;
}
.body-basic{
    
    
    background-color: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.forms {
    color:#F08080;
    justify-content: center;
    font-size: x-large;
    width : 500px;
    padding: 0px;
    margin:  20px;
    box-sizing: border-box;
    

}
.sign-in{
    background: #F08080 ;
    font-size: 17px;
    padding: 19px;
    text-decoration: none;
    width: 0;
    margin-top:10px;
    padding:5px;
    justify-content: flex-end;
    
    

}
.btn{
    background: #F08080 ;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    margin-right: 100px;
    
    ;
}
.header-logos{
        /*contenido para cuando decidamos el logo*/
        display: flex;
}
.home {
    
    text-align: center;
    border-radius: 2%;
    font-size: large;
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    
   
    border-style: solid;
    border-color: white;
    border-width: 5px;
    
    
  }
*{
    margin: 0;
    padding: 0;
}